body {
	margin: 0;
	font-family: 'Noto Sans CJK KR';
}

#three-canvas {
	position: fixed;
	left: 40px;
	top: 40px;
}

.sections {
	position: relative;
	z-index: 1;
}

.section {
	box-sizing: border-box;
	padding: 5rem;
	height: 100vh;
}

.section h2 {
	margin: 0;
	font-size: 10vmin;
	color: white;
}

.section:nth-child(odd) {
	text-align: right;
}

.section .content {
	color: white;
	font-size: 2vmin;
}

.section .diameter {
	color: yellow;
	font-size: 2vmin;
}

.navbar {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX( -50% );
}

.navbar-linkButtons {

}

.navbar button {
	width: 70px;
	height: 30px;
	border-radius: 5px;
	border: none;
}

.navbar button:hover {
    cursor: pointer;
}